

.FilmDetail{width:330px;position:relative;z-index:1}
.FilmDetail h2{font-family:'arial';font-size:2.5em;line-height:25px;color:#000;padding:0 5px 5px 0;float:left;text-transform:uppercase;font-weight:normal;margin-left: 30px;}
.FilmDetailText{font-size:1.2em;line-height:16px;color:#BF752D;padding:0 0 5px 0;text-align: left;margin-left: 30px;}

strong{
	color:#afafaf;
}

div {
  display: block;
}

html { overflow-y: scroll; }

body {
    background: #444 url(image/bg.jpg) repeat 0 0 scroll;
}

 
 #num{
  color: #white;
  font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
  position: relative;
  margin-bottom: 20px;
  margin-right: 30px;

}

h1,h2{
	color: #efefef;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    font-family: 'Lato Bold', arial, sans-serif;
    font-weight: bold;

}
h2{
	padding-right: 60px;

}

h1{
	color:white;
	margin-left: 38px;
}
 
.Line  {
  font: 12px/1.5 Helvetica, sans-serif;
  padding-left: 60px;
  color: white;
}
 
span {
  position: absolute;
}