<!DOCTYPE html>
<html>
<head>
	<title>FILM</title>
	<link href='index.css' rel='stylesheet' type='text/css'> 
	<meta http-equiv='content-type' content='text/html; charset=utf-8' />

</head>
<body>



  
<center>

	<h1>The 5 best movies of the month</h1>

<div class='Line'> 

	<h2> <span id='num'>1.</span> BIRD PEOPLE  </h2> 
	<img src=' http://static.cotecine.fr/tb/Affiches/274x410/EEEEE8/BIRD%20PEOPLE.JPG ' width='274' height='410' alt='Label' style='margin-top:50px;'>
	<div class='FilmDetail'>

		<p class='FilmDetailText'>
			<strong style='font-size: 20px;color:white'>Rating: </strong> <strong style='font-size: 25px;color:white'>8.4</strong><br><br>
			<strong> Release date : </strong> 4 juin 2014 <br>
			<strong> Director : </strong> Pascale Ferran <br>
			<strong> Actors : </strong> Anaïs Demoustier, Josh Charles, Roschdy Zem, Camélia Jordana, Taklyt Vongdara <br>
			<strong> Genre : </strong> drame <br>
			<strong> Runtime : </strong> 02h08min </p> <p class='FilmDetailText'>
			<strong> Plot </strong> <br> En transit dans un hôtel international près de Roissy, un ingénieur en informatique américain, soumis à de très lourdes pressions professionnelles et affectives, décide de changer radicalement le cours de sa vie. Quelques heures plus tard, une jeune femme de chambre de l'hôtel, qui vit dans un entre-deux provisoire, voit son existence basculer à la suite d'un événement surnaturel. <br> <br> <br> 
		</p>
	</div> 
</div>


<div class='Line'> 
	<h2> <span id='num'>2.</span> BIRD PEOPLE  </h2>
	<img src=' http://static.cotecine.fr/tb/Affiches/274x410/EEEEE8/BIRD%20PEOPLE.JPG ' width='274' height='410' alt='Label' style='margin-top:50px;'>
	<div class='FilmDetail'>

		<p class='FilmDetailText'>
			<strong style='font-size: 20px;color:white'>Rating: </strong> <strong style='font-size: 25px;color:white'>8.4</strong><br><br>
			<strong> Release date : </strong> 4 juin 2014 <br>
			<strong> Director : </strong> Pascale Ferran <br>
			<strong> Actors : </strong> Anaïs Demoustier, Josh Charles, Roschdy Zem, Camélia Jordana, Taklyt Vongdara <br>
			<strong> Genre : </strong> drame <br>
			<strong> Runtime : </strong> 02h08min </p> <p class='FilmDetailText'>
			<strong> Plot </strong> <br> En transit dans un hôtel international près de Roissy, un ingénieur en informatique américain, soumis à de très lourdes pressions professionnelles et affectives, décide de changer radicalement le cours de sa vie. Quelques heures plus tard, une jeune femme de chambre de l'hôtel, qui vit dans un entre-deux provisoire, voit son existence basculer à la suite d'un événement surnaturel. <br> <br> <br> 
		</p>
	</div> 
</div>




</center>
</body>
</html>